--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: igen_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO igen_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO igen_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO igen_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO igen_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: banks_bankaccount; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.banks_bankaccount (
    id bigint NOT NULL,
    account_name character varying(255) NOT NULL,
    account_number character varying(30) NOT NULL,
    bank_name character varying(255) NOT NULL,
    ifsc character varying(11) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    company_id bigint NOT NULL
);


ALTER TABLE public.banks_bankaccount OWNER TO igen_user;

--
-- Name: banks_bankaccount_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.banks_bankaccount ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.banks_bankaccount_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: companies_company; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.companies_company (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    pan character varying(10) NOT NULL,
    gst character varying(15),
    mca character varying(30),
    address text NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.companies_company OWNER TO igen_user;

--
-- Name: companies_company_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.companies_company ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.companies_company_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: companies_companydocument; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.companies_companydocument (
    id bigint NOT NULL,
    file character varying(100) NOT NULL,
    uploaded_at timestamp with time zone NOT NULL,
    company_id bigint NOT NULL
);


ALTER TABLE public.companies_companydocument OWNER TO igen_user;

--
-- Name: companies_companydocument_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.companies_companydocument ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.companies_companydocument_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cost_centres_costcentre; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.cost_centres_costcentre (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(50) NOT NULL,
    description text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    company_id bigint NOT NULL
);


ALTER TABLE public.cost_centres_costcentre OWNER TO igen_user;

--
-- Name: cost_centres_costcentre_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.cost_centres_costcentre ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cost_centres_costcentre_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO igen_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO igen_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO igen_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO igen_user;

--
-- Name: projects_project; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.projects_project (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    start_date date NOT NULL,
    end_date date,
    stakeholders text NOT NULL,
    expected_return numeric(12,2)
);


ALTER TABLE public.projects_project OWNER TO igen_user;

--
-- Name: projects_project_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.projects_project ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.projects_project_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: projects_property; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.projects_property (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    location character varying(512) NOT NULL,
    purchase_date date NOT NULL,
    purchase_price numeric(15,2) NOT NULL,
    expected_rent numeric(12,2),
    status character varying(20) NOT NULL,
    project_id bigint NOT NULL
);


ALTER TABLE public.projects_property OWNER TO igen_user;

--
-- Name: projects_property_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.projects_property ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.projects_property_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: properties_property; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.properties_property (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    location character varying(512) NOT NULL,
    purchase_date date NOT NULL,
    purchase_price numeric(15,2) NOT NULL,
    expected_rent numeric(12,2),
    status character varying(20) NOT NULL,
    project_id bigint NOT NULL
);


ALTER TABLE public.properties_property OWNER TO igen_user;

--
-- Name: properties_property_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.properties_property ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.properties_property_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: transaction_types_transactiontype; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.transaction_types_transactiontype (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    type character varying(20) NOT NULL,
    description text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    company_id bigint NOT NULL
);


ALTER TABLE public.transaction_types_transactiontype OWNER TO igen_user;

--
-- Name: transaction_types_transactiontype_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.transaction_types_transactiontype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.transaction_types_transactiontype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: transactions_transaction; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.transactions_transaction (
    id bigint NOT NULL,
    direction character varying(6) NOT NULL,
    amount numeric(12,2) NOT NULL,
    date date NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    bank_account_id bigint NOT NULL,
    company_id bigint NOT NULL,
    cost_centre_id bigint NOT NULL,
    transaction_type_id bigint NOT NULL
);


ALTER TABLE public.transactions_transaction OWNER TO igen_user;

--
-- Name: transactions_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.transactions_transaction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.transactions_transaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    user_id character varying(50) NOT NULL,
    full_name character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    role character varying(20) NOT NULL
);


ALTER TABLE public.users_user OWNER TO igen_user;

--
-- Name: users_user_companies; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.users_user_companies (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    company_id bigint NOT NULL
);


ALTER TABLE public.users_user_companies OWNER TO igen_user;

--
-- Name: users_user_companies_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.users_user_companies ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_companies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.users_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO igen_user;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: igen_user
--

CREATE TABLE public.users_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO igen_user;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: igen_user
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: igen_user
--



--
-- Data for Name: banks_bankaccount; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.banks_bankaccount (id, account_name, account_number, bank_name, ifsc, is_active, created_at, company_id) FROM stdin;
3	hdf	21356346	hdfcbank	vijjay1234	t	2025-06-30 21:56:23.54731+05:30	1
\.


--
-- Data for Name: companies_company; Type: TABLE DATA; Schema: public; Owner: igen_user
--



--
-- Data for Name: companies_companydocument; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.companies_companydocument (id, file, uploaded_at, company_id) FROM stdin;
1	company_docs/HANDLOOM_1.png	2025-06-29 23:07:19.04824+05:30	1
\.


--
-- Data for Name: cost_centres_costcentre; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.cost_centres_costcentre (id, name, code, description, is_active, created_at, company_id) FROM stdin;
1	fghjk	3456u	dcvbnm	t	2025-07-01 18:59:50.19057+05:30	3
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2025-06-28 23:30:01.849516+05:30	2	intasolutions	1	[{"added": {}}]	6	1
2	2025-06-28 23:30:12.993236+05:30	2	intasolutions	2	[]	6	1
3	2025-06-28 23:30:27.693137+05:30	2	intasolutions	2	[]	6	1
4	2025-06-29 14:46:38.525503+05:30	1	 (igenproperties)	2	[{"changed": {"fields": ["password"]}}]	6	1
5	2025-06-29 22:39:12.959698+05:30	1	igenproperties (igenproperties)	2	[{"changed": {"fields": ["Full name", "Role"]}}]	6	1
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	users	user
7	companies	company
8	companies	companydocument
9	cost_centres	costcentre
10	transaction_types	transactiontype
11	banks	bankaccount
12	transactions	transaction
13	projects	project
14	projects	property
15	properties	property
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: igen_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
qinyw59d8ejw6in3ha67qy1rsxw94pdv	.eJxVjM0OwiAQhN-FsyGssPx49O4zkIWlUjU0Ke3J-O62SQ96nPm-mbeItC41rr3McWRxESBOv12i_CxtB_ygdp9kntoyj0nuijxol7eJy-t6uH8HlXrd1slZNgqgaAxolPGAHrfs-KwVeUc5MIakrQUTyGmLVnsaMtqBSgIQny-eSjaA:1uVo9O:RPVipvgP4JsYuoyOC9To_dGV3O_PoHYQW_oy26nuDoo	2025-07-13 14:46:38.537749+05:30
\.


--
-- Data for Name: projects_project; Type: TABLE DATA; Schema: public; Owner: igen_user
--



--
-- Data for Name: projects_property; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.projects_property (id, name, location, purchase_date, purchase_price, expected_rent, status, project_id) FROM stdin;
1	hjjhj	bjbj	2002-10-06	67868.00	6868.00	active	5
\.


--
-- Data for Name: properties_property; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.properties_property (id, name, location, purchase_date, purchase_price, expected_rent, status, project_id) FROM stdin;
\.


--
-- Data for Name: transaction_types_transactiontype; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.transaction_types_transactiontype (id, name, type, description, is_active, created_at, company_id) FROM stdin;
1	card	EXPENSE	sd	t	2025-07-01 21:17:01.82791+05:30	1
\.


--
-- Data for Name: transactions_transaction; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.transactions_transaction (id, direction, amount, date, notes, created_at, bank_account_id, company_id, cost_centre_id, transaction_type_id) FROM stdin;
1	CREDIT	12.00	2025-08-12	xcd	2025-07-01 21:17:28.061245+05:30	3	2	1	1
\.


--
-- Data for Name: users_user; Type: TABLE DATA; Schema: public; Owner: igen_user
--



--
-- Data for Name: users_user_companies; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.users_user_companies (id, user_id, company_id) FROM stdin;
\.


--
-- Data for Name: users_user_groups; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.users_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: igen_user
--

COPY public.users_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 60, true);


--
-- Name: banks_bankaccount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.banks_bankaccount_id_seq', 3, true);


--
-- Name: companies_company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.companies_company_id_seq', 6, true);


--
-- Name: companies_companydocument_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.companies_companydocument_id_seq', 1, true);


--
-- Name: cost_centres_costcentre_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.cost_centres_costcentre_id_seq', 1, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 5, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 15, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 28, true);


--
-- Name: projects_project_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.projects_project_id_seq', 24, true);


--
-- Name: projects_property_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.projects_property_id_seq', 1, true);


--
-- Name: properties_property_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.properties_property_id_seq', 1, false);


--
-- Name: transaction_types_transactiontype_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.transaction_types_transactiontype_id_seq', 1, true);


--
-- Name: transactions_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.transactions_transaction_id_seq', 1, true);


--
-- Name: users_user_companies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.users_user_companies_id_seq', 1, false);


--
-- Name: users_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.users_user_groups_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.users_user_id_seq', 4, true);


--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: igen_user
--

SELECT pg_catalog.setval('public.users_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: banks_bankaccount banks_bankaccount_company_id_account_number_2507fd91_uniq; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.banks_bankaccount
    ADD CONSTRAINT banks_bankaccount_company_id_account_number_2507fd91_uniq UNIQUE (company_id, account_number);


--
-- Name: banks_bankaccount banks_bankaccount_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.banks_bankaccount
    ADD CONSTRAINT banks_bankaccount_pkey PRIMARY KEY (id);


--
-- Name: companies_company companies_company_name_key; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.companies_company
    ADD CONSTRAINT companies_company_name_key UNIQUE (name);


--
-- Name: companies_company companies_company_pan_key; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.companies_company
    ADD CONSTRAINT companies_company_pan_key UNIQUE (pan);


--
-- Name: companies_company companies_company_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.companies_company
    ADD CONSTRAINT companies_company_pkey PRIMARY KEY (id);


--
-- Name: companies_companydocument companies_companydocument_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.companies_companydocument
    ADD CONSTRAINT companies_companydocument_pkey PRIMARY KEY (id);


--
-- Name: cost_centres_costcentre cost_centres_costcentre_company_id_code_35c79d74_uniq; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.cost_centres_costcentre
    ADD CONSTRAINT cost_centres_costcentre_company_id_code_35c79d74_uniq UNIQUE (company_id, code);


--
-- Name: cost_centres_costcentre cost_centres_costcentre_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.cost_centres_costcentre
    ADD CONSTRAINT cost_centres_costcentre_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: projects_project projects_project_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.projects_project
    ADD CONSTRAINT projects_project_pkey PRIMARY KEY (id);


--
-- Name: projects_property projects_property_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.projects_property
    ADD CONSTRAINT projects_property_pkey PRIMARY KEY (id);


--
-- Name: properties_property properties_property_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.properties_property
    ADD CONSTRAINT properties_property_pkey PRIMARY KEY (id);


--
-- Name: transaction_types_transactiontype transaction_types_transactiontype_company_id_name_795da765_uniq; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.transaction_types_transactiontype
    ADD CONSTRAINT transaction_types_transactiontype_company_id_name_795da765_uniq UNIQUE (company_id, name);


--
-- Name: transaction_types_transactiontype transaction_types_transactiontype_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.transaction_types_transactiontype
    ADD CONSTRAINT transaction_types_transactiontype_pkey PRIMARY KEY (id);


--
-- Name: transactions_transaction transactions_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.transactions_transaction
    ADD CONSTRAINT transactions_transaction_pkey PRIMARY KEY (id);


--
-- Name: users_user_companies users_user_companies_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.users_user_companies
    ADD CONSTRAINT users_user_companies_pkey PRIMARY KEY (id);


--
-- Name: users_user_companies users_user_companies_user_id_company_id_2045f806_uniq; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.users_user_companies
    ADD CONSTRAINT users_user_companies_user_id_company_id_2045f806_uniq UNIQUE (user_id, company_id);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user users_user_user_id_key; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_user_id_key UNIQUE (user_id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: banks_bankaccount_company_id_6ec98e53; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX banks_bankaccount_company_id_6ec98e53 ON public.banks_bankaccount USING btree (company_id);


--
-- Name: companies_company_name_f775eceb_like; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX companies_company_name_f775eceb_like ON public.companies_company USING btree (name varchar_pattern_ops);


--
-- Name: companies_company_pan_7e415a3e_like; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX companies_company_pan_7e415a3e_like ON public.companies_company USING btree (pan varchar_pattern_ops);


--
-- Name: companies_companydocument_company_id_e5845887; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX companies_companydocument_company_id_e5845887 ON public.companies_companydocument USING btree (company_id);


--
-- Name: cost_centres_costcentre_company_id_c6e8cb08; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX cost_centres_costcentre_company_id_c6e8cb08 ON public.cost_centres_costcentre USING btree (company_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: projects_property_project_id_36059a1c; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX projects_property_project_id_36059a1c ON public.projects_property USING btree (project_id);


--
-- Name: properties_property_project_id_288b4707; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX properties_property_project_id_288b4707 ON public.properties_property USING btree (project_id);


--
-- Name: transaction_types_transactiontype_company_id_790c8457; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX transaction_types_transactiontype_company_id_790c8457 ON public.transaction_types_transactiontype USING btree (company_id);


--
-- Name: transactions_transaction_bank_account_id_82683e60; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX transactions_transaction_bank_account_id_82683e60 ON public.transactions_transaction USING btree (bank_account_id);


--
-- Name: transactions_transaction_company_id_318a537a; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX transactions_transaction_company_id_318a537a ON public.transactions_transaction USING btree (company_id);


--
-- Name: transactions_transaction_cost_centre_id_c4142343; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX transactions_transaction_cost_centre_id_c4142343 ON public.transactions_transaction USING btree (cost_centre_id);


--
-- Name: transactions_transaction_transaction_type_id_7fb404b1; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX transactions_transaction_transaction_type_id_7fb404b1 ON public.transactions_transaction USING btree (transaction_type_id);


--
-- Name: users_user_companies_company_id_a2ba0cc9; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX users_user_companies_company_id_a2ba0cc9 ON public.users_user_companies USING btree (company_id);


--
-- Name: users_user_companies_user_id_1dc51163; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX users_user_companies_user_id_1dc51163 ON public.users_user_companies USING btree (user_id);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_user_id_4120b7b9_like; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX users_user_user_id_4120b7b9_like ON public.users_user USING btree (user_id varchar_pattern_ops);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: igen_user
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: banks_bankaccount banks_bankaccount_company_id_6ec98e53_fk_companies_company_id; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.banks_bankaccount
    ADD CONSTRAINT banks_bankaccount_company_id_6ec98e53_fk_companies_company_id FOREIGN KEY (company_id) REFERENCES public.companies_company(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: companies_companydocument companies_companydoc_company_id_e5845887_fk_companies; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.companies_companydocument
    ADD CONSTRAINT companies_companydoc_company_id_e5845887_fk_companies FOREIGN KEY (company_id) REFERENCES public.companies_company(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cost_centres_costcentre cost_centres_costcen_company_id_c6e8cb08_fk_companies; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.cost_centres_costcentre
    ADD CONSTRAINT cost_centres_costcen_company_id_c6e8cb08_fk_companies FOREIGN KEY (company_id) REFERENCES public.companies_company(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: projects_property projects_property_project_id_36059a1c_fk_projects_project_id; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.projects_property
    ADD CONSTRAINT projects_property_project_id_36059a1c_fk_projects_project_id FOREIGN KEY (project_id) REFERENCES public.projects_project(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: properties_property properties_property_project_id_288b4707_fk_projects_project_id; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.properties_property
    ADD CONSTRAINT properties_property_project_id_288b4707_fk_projects_project_id FOREIGN KEY (project_id) REFERENCES public.projects_project(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: transaction_types_transactiontype transaction_types_tr_company_id_790c8457_fk_companies; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.transaction_types_transactiontype
    ADD CONSTRAINT transaction_types_tr_company_id_790c8457_fk_companies FOREIGN KEY (company_id) REFERENCES public.companies_company(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: transactions_transaction transactions_transac_bank_account_id_82683e60_fk_banks_ban; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.transactions_transaction
    ADD CONSTRAINT transactions_transac_bank_account_id_82683e60_fk_banks_ban FOREIGN KEY (bank_account_id) REFERENCES public.banks_bankaccount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: transactions_transaction transactions_transac_company_id_318a537a_fk_companies; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.transactions_transaction
    ADD CONSTRAINT transactions_transac_company_id_318a537a_fk_companies FOREIGN KEY (company_id) REFERENCES public.companies_company(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: transactions_transaction transactions_transac_cost_centre_id_c4142343_fk_cost_cent; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.transactions_transaction
    ADD CONSTRAINT transactions_transac_cost_centre_id_c4142343_fk_cost_cent FOREIGN KEY (cost_centre_id) REFERENCES public.cost_centres_costcentre(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: transactions_transaction transactions_transac_transaction_type_id_7fb404b1_fk_transacti; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.transactions_transaction
    ADD CONSTRAINT transactions_transac_transaction_type_id_7fb404b1_fk_transacti FOREIGN KEY (transaction_type_id) REFERENCES public.transaction_types_transactiontype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_companies users_user_companies_company_id_a2ba0cc9_fk_companies; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.users_user_companies
    ADD CONSTRAINT users_user_companies_company_id_a2ba0cc9_fk_companies FOREIGN KEY (company_id) REFERENCES public.companies_company(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_companies users_user_companies_user_id_1dc51163_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.users_user_companies
    ADD CONSTRAINT users_user_companies_user_id_1dc51163_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: igen_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

